<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="platform" sequenceNumber="7">
  <locations>
	  <location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
		  <repository location="https://download.eclipse.org/modeling/emf/emf/builds/release/2.32"/>
	      <unit id="org.eclipse.emf.sdk.feature.group" version="2.32.0.v20221121-1400"/>
	  </location>
	  <location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
		  <repository location="https://download.eclipse.org/eclipse/updates/4.28/"/>
		  <unit id="org.eclipse.equinox.sdk.feature.group" version="3.23.800.v20230523-2142"/>
		  <unit id="org.eclipse.platform.sdk" version="4.28.0.I20230605-0440"/>
		  <unit id="org.eclipse.rcp.feature.group" version="4.28.0.v20230605-0440"/>
	  </location>
  </locations>
</target>